<div class="row">
  <div class="col-md-12">
    <h1>Viking Store Analytics Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-5 panel">
    <h4>1. Overall Platform</h4>
    <div class="row">
      <div class="col-md-12">
        <h5>Last 7 days</h5>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>New Users</td>
              <td>
                <%= @new_users[7] %>
              </td>
            </tr>
            <tr>
              <td>Orders</td>
              <td>
                <%= @new_orders[7] %>
              </td>
            </tr>
            <tr>
              <td>New Products</td>
              <td>
                <%= @new_products[7] %>
              </td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td>
                $<%= number_with_precision(@revenue[7], :precision => 2, :delimiter => ',') %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Last 30 days</h5>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>New Users</td>
              <td>
                <%= @new_users[30] %>
              </td>
            </tr>
            <tr>
              <td>Orders</td>
              <td>
                <%= @new_orders[30] %>
              </td>
            </tr>
            <tr>
              <td>New Products</td>
              <td>
                <%= @new_products[30] %>
              </td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td>
                $<%= number_with_precision(@revenue[30], :precision => 2, :delimiter => ',') %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Total</h5>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>New Users</td>
              <td>
                <%= @new_users[@all_time] %>
              </td>
            </tr>
            <tr>
              <td>Orders</td>
              <td>
                <%= @new_orders[@all_time] %>
              </td>
            </tr>
            <tr>
              <td>New Products</td>
              <td>
                <%= @new_products[@all_time] %>
              </td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td>
                $<%= number_with_precision(@revenue[@all_time], :precision => 2, :delimiter => ',') %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="col-md-5 col-md-offset-1 panel">
    <h4>2. User Demographics and Behavior</h4>
    <div class="row">
      <div class="col-md-12">
        <h5>Top 3 States users live in</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Top 3 cities users live in</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Top user with...</h5>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5 panel">
    <h4>3. Order Statistics</h4>
    <div class="row">
      <div class="col-md-12">
        <h5>Last 7 days</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Last 30 days</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Total</h5>
      </div>
    </div>
  </div>


  <div class="col-md-5 col-md-offset-1 panel">
    <h4>4. Time Series Data</h4>
    <div class="row">
      <div class="col-md-12">
        <h5>Orders by day</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Orders by week</h5>
      </div>
    </div>
  </div>
</div>