<div class="row cart-row">
	<h2>Shopping Cart Contents</h2>

	<% if @cart %>
		<%= form_tag('/cart') do |x| %>

			<% @cart.each do |item,quantity| %>
				<div class="row cart-row">
					<div class="col-xs-2">
						<%= image_tag(get_random_product_image)%>
					</div>
					<div class="col-xs-6">
						<h4><%= Product.find(item).title %></h4>
						<p><em><%= Product.find(item).category.name %></em></p>
						<p><%= Product.find(item).price %></p>
					</div>
					<div class="col-xs-4">
						<div class="row">
							<div class="col-xs-6">
								<p>Quantity</p>
							</div>
							<div class="col-xs-6">
								<p>Total Price</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<p><%= text_field_tag("#{:quantity}#{item}", quantity) %></p>
							</div>
							<div class="col-xs-6">
								<p><%= get_total_price(@cart)%></p>
							</div>
						</div>
					</div>
				</div>
			<% end %>	
</div>
<div class="row">
	<div class="col-xs-2 col-xs-offset-8">
				<%= submit_tag("Update Quantity", :class => "btn btn-primary")%>
				<% end %>
			<% end %>
	</div>
	<div class="col-xs-2">
		<button class="btn btn-success btn-large"><%= link_to "Check Out", new_order_path %></button>
	</div>
</div>