<h3>Shipping Address</h3>
<p>Street: <%= @shipping_street %></p>
<p>City: <%= @shipping_city %></p>
<p>State: <%= @shipping_state %></p>

<h3>Billing Address</h3>
<p>Street: <%= @billing_street %></p>
<p>City: <%= @billing_city %></p>
<p>State: <%= @billing_state %></p>