<tr>
  <td><%= order.id %></td>
  <td><%= order.user ? (link_to order.user.id, admin_user_orders_path(order.user)) : "N/A" %></td>
  <td><%= order.billing.nil? ? "N/A" : order.billing.street_address %></td>
  <td><%= order.billing.nil? ? "N/A" : order.billing.city.name %></td>
  <td><%= order.billing.nil? ? "N/A" : order.billing.state.name %></td>
  <td><%= order.quantity %></td>
  <td><%= number_to_currency(order.value) %></td>
  <td><%= order_status(order) %></td>
  <td><%= order.checkout_date %></td>
  <td><%= link_to "show", admin_user_order_path(order.user_id, order.id) %></td>
  <td><%= order.user ? (link_to "edit", edit_admin_user_order_path(order.user_id, order.id)) : "edit" %></td>
  <td><%= link_to "delete", admin_user_order_path(order.user_id, order.id), :method => :delete, :data => { confirm: "Are you sure?" } %></td>
</tr>