<div class="row">
  <div class="col-md-10">
    <%= render "admin/shared/errors", :object => order %>
    <div class="panel">
      <%= render "logistical" %>
      <%= link_to "Edit Customer Profile", edit_admin_user_path(order.user) %>

      <%= form_for [:admin, order], {:url => { :action => (order.id ? :update : :create) }, :html => {:class => "form-horizontal" }} do |f| %>

        <% if form_type == "Edit" %>
          <div class="form-group">
            <%= f.label "Order Placed", :class => "col-xs-2 control-label" %>
            <div class="col-xs-2 col-xs-offset-1 radio">
              <%= f.radio_button :checked_out, true %><%= f.label "PLACED" %>
            </div>
            <div class="col-xs-2 radio">
              <%= f.radio_button :checked_out, false %><%= f.label "UNPLACED" %>
            </div>
          </div>
        <% else %>
          <%= f.hidden_field :checked_out, value: "0" %>
        <% end %>

        <%= f.hidden_field :user_id %>

        <div class="form-group">
          <%= f.label :billing, :class => "col-md-2 control-label" %>
          <div class="col-md-10">
          <%= f.collection_select :billing_id, Address.where(user_id: order.user.id), :id, :street_address, {}, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :shipping, :class => "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.collection_select :shipping_id, Address.where(user_id: order.user.id), :id, :street_address, {}, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :card, :class => "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.collection_select :credit_card_id, CreditCard.where(user_id: order.user.id), :id, :card_number, {}, :class => "form-control" %>
          </div>
        </div>

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total Price</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :purchases do |purchase_fields| %>
              <tr>
                <td><%= purchase_fields.collection_select :product_id, Product.all, :id, :name, {:include_blank => 'None'}, :class => "form-control" %></td>

                <td><%= purchase_fields.text_field :quantity, :class => "form-control" %></td>

                <td><%= "N/A" %></td>

                <td><%= "N/A" %></td>

                <td><% if purchase_fields.object.persisted? %>
                  <%= purchase_fields.check_box :_destroy %>
                <% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= f.submit submit(form_type, "Order"), :class => "btn btn-large btn-primary btn-block" %>
      <% end %>

      <%= (link_to "Delete Order",
      admin_user_order_path(order.user_id, order.id),
      :method => :delete,
      :data => { confirm: "Are you sure?" }) if order.id %>
    </div>
  </div>
</div>