<div class="panel">
<h4>Credit Card Information</h4>

<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Number: <%= @user.credit_cards[0].card_number %></p>
<p>Expiration: <%="#{@user.credit_cards[0].exp_month}-#{@user.credit_cards[0].exp_year}"%></p>
<p>CCV: <%= @user.credit_cards[0].ccv %></p>
</div>