<% orders.each do |order| %>
	<tr>
	  <td><%= order.id %></td>
	  <td><%= order.created_at %></td>
	  <td><%= number_to_currency(order.order_value) %></td>
	  <td><%= order_status(order) %></td>
	  <td><%= link_to "show", '#' %></td>
  	<td><%= link_to "edit", '#' %></td>
	  <td><%= link_to "delete", '#' %></td>
	</tr>
<% end %>
