
	<% orders.each do |order| %>
		<tr>
		  <td><%= order.id %></td>
		  <td><%= order.created_at %></td>
		  <td><%= "$$$" %></td>
		  <td><%= order.checked_out ? "PLACED" : "UNPLACED" %></td>
	  	<td><%= link_to "edit", '#' %></td>
		  <td><%= link_to "delete", '#' %></td>
		</tr>
	<% end %>
