<h2>Sign Up</h2>

<%= render "shared/errors", :object => @user %>

<%= form_for @user do |user_fields| %>


  <%= user_fields.fields_for :addresses do |address_fields| %>
    <div class = "panel col-md-6 col-xs-12">
        <div class="form-group">
          <%= address_fields.label :street_address %>
          <%= address_fields.text_field :street_address, {class:"form-control"} %>
        </div>
        <div class="form-group">
          <%= address_fields.label :city_id %>
          <%= address_fields.text_field :city_id, {class:"form-control"} %>
        </div>

        <div class="form-group">
          <%= address_fields.collection_select :state_id, State.all, :id, :name, prompt: "Pick a State" %>
          <%= address_fields.text_field :zip_code, {class:"form-control"} %>
        </div>

        <div class="form-group">
          <%= address_fields.label :billing_address %>
          <%= check_box_tag [address_fields.index,:billing] %>
        </div>

        <div class="form-group">
          <%= address_fields.label :shipping_address %>
          <%= check_box_tag [address_fields.index, :shipping] %>
        </div>

        <div class="form-group">
          <%= address_fields.label :delete %>
          <%= address_fields.check_box :_destroy%>
        </div>
    </div>

  <% end %>

<div class = "panel col-md-6 col-xs-12">

  <div class="form-group">
    <%= user_fields.label :email %>
    <%= user_fields.email_field :email, {class:"form-control"}%>
  </div>

  <div class="form-group">
    <%= user_fields.label :confirm_email %>
    <%= user_fields.email_field :email, {class:"form-control"} %>
  </div>

  <div class="form-group">
    <%= user_fields.label :first_name %>
    <%= user_fields.text_field :first_name, {class:"form-control"} %>
  </div>
  <div class="form-group">
    <%= user_fields.label :last_name %>
    <%= user_fields.text_field :last_name, {class:"form-control"} %>
  </div>
  <div class="form-group">
    <%= user_fields.label :phone_number %>
    <%= user_fields.text_field :phone_number, {class:"form-control"} %>
  </div>
</div>

<div class = "panel">
  <h3>Complete Sign Up</h3>
  <%= user_fields.submit "Sign Up", {class: "btn btn-default btn-primary"} %>
  <%= link_to("Delete my account", delete_user_path(@user.id)) if @user.id %>
</div>



<% end %>