<h3>User <%= @user.id %>: <%= "#{@user.first_name} #{@user.last_name}" %></h3>

<%= render 'user_info' %>

<%= render 'credit_cards' %>

<%= render 'change_user' %>

<%= render 'user_order_history' %>