
<div class="panel">
	 <%= form_tag(edit_user_order_path(@order.user_id, @order.id)) do %>
	 <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% purchases.each do |purchase| %>
			  <tr>
			    <td><%= purchase.product.id %></td>
			    <td><%= text_field :product, "[#{purchase.product_id}][quantity]" %></td>
			    <td><%= number_to_currency(purchase.product.price) %></td>
			    <td><%= number_to_currency(purchase.product.price * purchase.quantity) %></td>
			    <td><%= link_to "Delete product", 
	    :method => :delete,
	    :data => { confirm: "Are you sure?" } %></td>
			  </tr>
			<% end %>
    </tbody>
  </table>
  <%= submit_tag %>
  <% end %>
</div>