<div class="row">
  <div class="col-md-6">
    <%= render "partials/errors", :object => order %>

    <%= render "logistical" %>
    <%= link_to "Edit Customer Profile", edit_user_path(order.user) %>

    <%= form_for order, :url => { :action => (order.id ? :update : :create) } do |f| %>

      <h3><%= form_type %> order</h3>
      <%= f.hidden_field :user_id %>

      <%= f.label :billing %>
      <%= f.collection_select :billing_id, Address.where(user_id: order.user.id), :id, :street_address, :class => "form-control form-group" %><br>
      <%= f.label :shipping %>
      <%= f.collection_select :shipping_id, Address.where(user_id: order.user.id), :id, :street_address, :class => "form-control form-group" %><br>

      <!-- < f.label :billing_card %>
      < f.collection_select :billing_card, order.user.credit_card.card_number, :id, order.user.credit_card.card_number[-4..-1] %></br> -->

      <%= f.submit (form_type == "Edit" ? "Update" : form_type) + " Order", :class => "btn btn-large btn-primary btn-block" %>
    <% end %>

    <%= (link_to "Delete Order",
    user_order_path(order.user_id, order.id),
    :method => :delete,
    :data => { confirm: "Are you sure?" }) if order.id %>
  </div>
</div>