<div class="row">
  <div class="col-md-6">
    <%= render "partials/errors", :object => order %>
    <div class="panel">
      <%= render "logistical" %>
      <%= link_to "Edit Customer Profile", edit_user_path(order.user) %>

      <%= form_for order, :url => { :action => (order.id ? :update : :create) } do |f| %>

        <% if form_type == "Edit" %>
          <h4>Order Placed </h4>
          <div class="col-xs-6">
          <%= f.radio_button :checked_out, "1" %><%= f.label "PLACED" %>
          </div class="col-xs-6">
          <div>
          <%= f.radio_button :checked_out, "0" %><%= f.label "UNPLACED" %>
          </div>
        <% else %>

        <% end %>
 
        <%= f.hidden_field :user_id %>

        <%= f.label :billing %>
        <%= f.collection_select :billing_id, Address.where(user_id: order.user.id), :id, :street_address, :class => "form-control form-group" %><br>
        <%= f.label :shipping %>
        <%= f.collection_select :shipping_id, Address.where(user_id: order.user.id), :id, :street_address, :class => "form-control form-group" %><br>

        <%= f.label :billing_card %>
        <%= f.collection_select :credit_card_id, CreditCard.where(user_id: order.user.id), :id, :card_number %>

        <br>

        <%= f.submit (form_type == "Edit" ? "Update" : form_type) + " Order", :class => "btn btn-large btn-primary btn-block" %>
      <% end %>

      <%= (link_to "Delete Order",
      user_order_path(order.user_id, order.id),
      :method => :delete,
      :data => { confirm: "Are you sure?" }) if order.id %>
    </div>
  </div>
</div>