<h2><%= "Order #{@order.id}" %></h2>

<div class="panel">
	<%= render "logistical" %>
	<p>Number Producs: <%= @order.purchases.sum(:quantity) %></p>
	<p>Order Value: <%= "??? MONEY!" %></p>
	<%= link_to "Edit Customer Profile", edit_user_path(@order.user) %>
	<h4>Order Status</h4>
	<h3 id='placed'>
	<%= @order.checked_out ? "PLACED" : "UNPLACED" %>
	</h3>

	<h4>Shipping Address</h4>
	<p>Street: <%= @order.shipping.street_address %></p>
	<p>City: <%= @order.shipping.city.name %></p>
	<p>State: <%= @order.shipping.state.name %></p>

	<h4>Billing Address</h4>
	<p>Street: <%= @order.billing.street_address %></p>
	<p>City: <%= @order.billing.city.name %></p>
	<p>State: <%= @order.billing.state.name %></p>

	<h4>Billing Card</h4>
	<p>Last four digits: <%= @order.user.credit_card.card_number[-4..-1] %></p>
	<%= link_to "Edit order",
	    edit_user_order_path(@order.user_id, @order.id) %><br>

	<%= link_to "Delete order",
	    user_order_path(@order.user_id, @order.id),
	    :method => :delete,
	    :data => { confirm: "Are you sure?" } %>
</div>

<div class="panel">
	<h3>Order Contents</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Total Price</th>
			</tr>
		</thead>

		<tbody>
			<%= render "order_contents", :order => @order %>
		</tbody>
	</table>

	<%= link_to "Edit order",
			edit_user_order_path(@order.user_id, @order.id) %><br>

	<%= link_to "Delete order",
			user_order_path(@order.user_id, @order.id),
			:method => :delete,
			:data => { confirm: "Are you sure?" } %>
</div>