<h3>Address <%= @address.id %></h3>
<h4>Address Information</h4>
<p>Owner ID: <%= @address.user.id %></p>
<p>Owner Name: <%= link_to "#{@address.user.first_name} #{@address.user.last_name}", user_path(@address.user) %></p>
<p>Street: <%= @address.street_address %></p>
<p>City: <%= @address.city.name %></p>
<p>State: <%= @address.state.name %></p>

<%= link_to "Edit Address", edit_address_path(@address.id) %><br>
<%= link_to "Delete Address", address_path(@address), :method => :delete, :data => { confirm: "Are you sure?" } %>