<!-- PHH -->
<div class="row">
<h2>Edit Product</h2>
  <%= form_for [:admin,@product] do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= render 'fields', f: f %>
    <%= f.submit "Update Product", class: "btn btn-large btn-primary new_category" %>

  <% end %>

<%= link_to "Delete", admin_product_path(@product), method: :delete,
    data: { confirm: "You sure?" } %>


</div>
