<h3>Product <%= @product.id %>: <%= @product.name %></h3>
<h4>Product Information</h4>
<p>Product ID: <%= @product.id %></p>
<p>Name: <%= @product.name %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>
<p>Category: <%= @product.category.name %></p>

<h4>Products Statistics:</h4>
<table class="table table-striped table-bordered">
  <tr>
    <td>Times Ordered</td>
    <td><%= checked_out(true) %></td>
  </tr>
  <tr>
    <td>Carts In</td>
    <td><%= checked_out(false) %></td>
  </tr>
</table>

<%= link_to "Edit Product", edit_admin_product_path(@product.id) %><br>
<%= link_to "Delete Product", admin_product_path(@product), :method => :delete, :data => { confirm: "Are you sure?" } %>