<div class="row">
  <div class="col-md-6">
    <%= render "partials/errors", :object => category %>

    <%= form_for category do |f| %>
      <h3><%= form_type %> Category</h3>
      <div class="form-group">
        <%= f.label "Category ID:" %>
        <%= category.id ? category.id : "N/A" %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "enter the category name here", :class => "form-control" %>
      </div>
      <%= f.submit (form_type == "Edit" ? "Update" : form_type) + " Category", :class => "btn btn-large btn-primary btn-block" %>
    <% end %>
    <%= (link_to "Delete Category", category_path(@category), :method => :delete, :data => { confirm: "Are you sure?" }) if category.id %>
  </div>
</div>