		<h3>Demographic Information</h3>
		<p>First Name: <%= @user.first_name %></p>
		<p>Last Name: <%= @user.last_name %></p>
		<p>Email: <%= @user.email %></p>
		<p>Telephone: <%= @user.phone %></p>
		<p>Default Billing Address:
			<% if @user.default_billing_address_id %>
				<%= Address.find(@user.default_billing_address_id).street_address %>,
				<%= Address.find(@user.default_billing_address_id).city %>
				<%= Address.find(@user.default_billing_address_id).state %>
			<% else %>
				None
			<% end %>
		</p>

		<p>Default Shipping Address:
			<% if @user.default_shipping_address_id %>
				<%= Address.find(@user.default_shipping_address_id).street_address %>,
				<%= Address.find(@user.default_shipping_address_id).city %>
				<%= Address.find(@user.default_shipping_address_id).state %>
			<% else %>
				None
			<% end %>
		</p>

		<p><%= link_to "Edit #{@user.first_name} #{@user.last_name}'s Information", edit_admin_user_path(@user)%></p>
		<p><%= link_to "Delete #{@user.first_name} #{@user.last_name}", admin_user_path(@user), method: :delete, data: { confirm: "You sure?" } %></p>
		<p><%= link_to "View Saved Addresses","/admin/addresses/?user_id=#{@user.id}"%></p>
		<p><%= link_to "View User's Orders", "/admin/orders/?user_id=#{@user.id}"%></p>
		<p><%= link_to "View user cart", '#'%></p>
