<tr>
  <td><%= product.id %></td>
  <td><%= link_to product.name, product %></td>
  <td><%= number_to_currency(product.price) %></td>
  <td><%= link_to product.category.name, category_path(product.category) %></td>
  <td><%= link_to "edit", edit_product_path(product) %></td>
  <td><%= link_to "delete", product, :method => :delete, :data => { confirm: "Are you sure?" } %></td>
</tr>