
<div class="col-xs-3 product_homepage">
	<p class="priceheader"><%= product.title %></p>
	<p class="pricetag">$<%= product.price %></p>
	<div class="priceimage"><%= image_tag(get_random_product_image)%></div>
	<div class="pricefooter">
		<form action="<%= products_path %>" method="GET">
			<%= hidden_field_tag(:product, product.id) %>
			<button class="btn btn-primary btn-block">Add to Cart</button>

		</form>
	</div>
</div>


