<div class="row">
  <div class="col-md-6">
    <%= render "partials/errors", :object => product %>

    <%= form_for product do |f| %>
      <h3><%= form_type %> product</h3>
      <div class="form-group">
        <%= f.label "Product ID:" %>
        <%= product.id ? product.id : "N/A" %>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "enter the product name here", :class => "form-control" %>
      </div>

      <%= f.label :price %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.text_field :price, placeholder: "enter the price here", :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :sku %>
        <%= f.text_field :sku, placeholder: "enter the sku here", :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :category_id %>
        <%= f.collection_select :category_id, Category.all, :id, :name, :class => "form-control" %>
      </div>

      <%= f.submit (form_type == "Edit" ? "Update" : form_type) + " Product", :class => "btn btn-large btn-primary btn-block" %>
    <% end %>

    <%= (link_to "Delete Product", product_path(@product), :method => :delete, :data => { confirm: "Are you sure?" }) if product.id %>
  </div>
</div>