<h1>Shopping Cart Contents</h1>

<%= form_tag product_path, {:method => "PUT"} do %>
  <div class ="panel">

    <% @cart.each do |product_id, quantity| %>

      <div class="row">

        <div class="panel col-xs-8">
          <div class="product-image col-xs-3"></div>

          <div class="product-name col-xs-6 pull-left">
            <div class="col-md-">
              <h3><%= get_product(product_id).name %></h3>
            </div>
            <div class="category">
              <p><%= get_product(product_id).category.name %></p>
            </div>
            <div class="col-xs-3">
              <%= number_to_currency(get_product(product_id).price) %>
            </div>
          </div>
        </div>

        <div class="panel col-xs-4">

          <%= label_tag :quantity %>
          <%= text_field_tag "[order]#{product_id}", quantity %>

          <%= label_tag :total_price %>
          <span><%=%><span> <!-- @total_price -->
          <%= check_box_tag "[remove]#{product_id}" %>
        </div>

      </div>

    <% end %>

    <div class="panel cart-total col-xs-12 col-sm-8">
      <h4>Total</h4>
      <!-- @total -->
    </div>

    <div class="checkout-buttons col-xs-12 col-sm-4">
      <div class="update-contents">
        <%= submit_tag %>
      </div>
      <div class="check-out">
        <%= link_to "Check Out", "#" %>
      </div>
    </div>

  </div>
<% end %>