<nav class="navbar col-md-2">
  <h5>Navigation Options</h5>
  <ul>
    <li><%= link_to "Users", admin_users_path %></li>
    <li><%= link_to "Addresses", admin_addresses_path %></li>
    <li><%= link_to "Orders", admin_orders_path %></li>
    <li><%= link_to "Products", admin_products_path %></li>
    <li><%= link_to "Categories", admin_categories_path %></li>

    <li><%= link_to "Analytics Dashboard", admin_root_path %></li>
  </ul>
</nav>