<div class="admin-leftbar">
<h2 class="admin-leftbar">Navigation Options</h2>
<ul class="admin-leftbar">
	<li><%= link_to "Users", admin_users_path %></li>
	<li><%= link_to "Addresses", admin_addresses_path %></li>
	<li><%= link_to "Orders", admin_orders_path %></li>
	<li><%= link_to "Products", admin_products_path %></li>
	<li><%= link_to "Categories", admin_categories_path %></li>
</ul>
<p><%= link_to "Analytics Dashboard", admin_dashboard_index_path %></p>
</div>