<nav class="navbar col-md-2">
  <h5>Navigation Options</h5>
  <ul>
    <li><%= link_to "Users", "#" %></li>
    <li><%= link_to "Addresses", "#" %></li>
    <li><%= link_to "Orders", "#" %></li>
    <li><%= link_to "Products", products_path %></li>
    <li><%= link_to "Categories", categories_path %></li>

    <li><%= link_to "Analytics Dashboard", root_path %></li>
  </ul>
</nav>